// Sample dark theme to demonstrate SASS overrides.
@import 'edx-bootstrap/sass/open-edx/theme';

// Theme colors

$font-color-register: #FFF;

$black: #000;
$register-background: #e6e6e6;
$register-button-background-color: #007394;
$register-link-color: #4197af;
$register-input-border-color: #707070;
