<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
%>

<div class="homepage-content">
  <img class="info-logo-mobile" src="${static.url('images/CertPREP_Logo.png')}">
  <div class="info-container">
    <img class="info-logo" src="${static.url('images/CertPREP_Logo.png')}">
    <div class="info">
      <h1 class="info-title">
        ${_("Comprehensive online IT training with CertPREP by Pearson")}
      </h1>
      <p class="info-description">
        ${_("""Looking for a one-stop solution for technology-focused training and certification? CertPREP by Pearson is a comprehensive online IT
        training solution for training centers, instructors, and learners with all the resources you need to succeed. Enjoy the convenience of
        practice tests, training labs and videos all in one spot.""")}
      </p>
    </div>
    <section class="buttons-section-container">
      <div class="buttons-section-signin-container">
        <p>${_("Access my course.")}</p>
        <button class="btn btn-primary" href="/login" role="button">${_("Log in Here")}</button>
      </div>
      <div class="buttons-section-catalog-container">
        <p>${_("Looking for online IT training? See the CertPREP by Pearson course catalog.")}</p>
        <button class="btn btn-primary" href="https://www.mindhubpro.com/shop/courseware" role="button" target="_blank">${_("View All Courses")}</button>
      </div>
    </section>
  </div>
  <div class="video-container">
    <script>
      function openVideoModal() {
        const modal = document.getElementById("videoModal");
        modal.style.display = "flex";
      }

      function closeVideoModal(e) {
        modal = document.getElementById("videoModal");
        iframe = document.getElementById("videoModalIframe");
        iframe.src = iframe.src;
        modal.style.display = "none";
      }
    </script>
    <img src="${static.url('images/CertPREP_homepage_laptop.png')}" onclick="openVideoModal()">
    <b>${_("Watch the CertPREP overview")}</b>
  </div>
</div>
<div class="video-modal" id="videoModal" onclick="closeVideoModal()">
  <iframe id="videoModalIframe" src="https://player.vimeo.com/video/578134840?h=198d342005&title=0&byline=0&portrait=0">
</div>
