<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
%>

<div class="background-login"></div>

<div class="login-container">
  <div>
    <img class="signin-logo" src="/static/pearson-vue-theme/images/CertPREP_Logo.png">
  </div>
  <div class="signin-container">
    <div class="toggle-form">
      <h1>${_("Welcome!")}</h1>
      <br>
      <span class="text">${_("Sign in or create an account to access your courseware.")}</span>
    </div>
    <div class="login-providers">
      <a href="/login">
        <button class="button-vue">
          <span aria-hidden="true">${_("Continue to sign in")}</span>
          <span class="icon fa fa-arrow-right"></span>
        </button>
      </a>
    </div>
  </div>
</div>
