// Styles for the footer template.

$line-color: rgba(255,255,255,0.2);
$main-font-size: 0.875em;
$link-font-size: 1em;
$title-link-font-size: 1.125em;

.wrapper-footer {
  border-top: none;
  background: $footer-background;
  color: $inverse;

  footer {
    // Reset Bootstrap "container" style.
    max-width: 1170px !important;
    padding: 40px 0 0 0;

    // There is a generic style similar applying div and box shadow on the wiki page of course.
    // so disabling that design for footer in the lines below.
    & > div {
      display: flex;
      background: inherit;
      border: none;
      box-shadow: none;
    }

    .row {
      margin-right: initial;
      margin-left: initial;
      margin-bottom: 60px;
    }
    
    .wrapper-logo {
      img {
        height: 50px;
      }
    }

    .icon-background {
      color: $inverse;
    }

    .social-links {
      list-style: none;
      padding: 0;
      margin-top: 30px;
      margin-bottom: 20px;

      li {
        display: inline;
        margin: 0 14px 0 0;

        a {
          color: $footer-background;
        }
      }
    }

    .footer-branding {
      max-width: none;
      flex-basis: 40%;
    }

    .mid-footer-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex-basis: 30%;

      p {
        font-family: $font-family-sans-serif;
        font-size: $link-font-size;
        line-height: 26px;
        margin-top: 0;

        a {
          color: $footer-contrast;
        }
      }
    }
  }

  .legal-nav {
    border-top: solid 1px $line-color;
    padding: 0 14px 0 0;
    margin-top: 45px;

    .contact {
      margin-top: 30px;
      line-height: 20px;
      font-size: $main-font-size;
      font-family: $font-family-sans-serif;
    }
  }

  .footer-about-openedx {
    text-align: center;

    p {
      text-align: inherit;
    }
  }

  .footer-miscellaneous-buttons {
    position: relative;
    width: auto;
    float: right;
    top: -300px;
    right: 20px;
    background: initial;

    .back-to-top-btn {
      background: $primary;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      top: 115px;
      position: absolute;
      right: 0;
      color: $inverse;
      top: 115px;
      font-size: 0.7em;

      i {
        position: relative;
        top: -3px;
      }

      span {
        position: absolute;
        top: 20px;
        left: 14px;
      }
    }
  }
}

// Screens less than 768px.
@include media-breakpoint-down(sm) {
  .wrapper-footer {
    padding: 0 15px 30px 15px;

    footer {
      max-width: 100%;

      .row {
        flex-direction: column;
        gap: 10px;

        .col-md-4, .col-12 {
          padding-left: 0;
        }
      }
    }

    .legal-nav {
      margin-top: 30px;
    }
  }
}
