// Theme variables.

//color
$primary: #B70005;
$inverse: #FFF;
$secondary: #E89D00;
$footer-background: #242E33;
$footer-contrast: #F2F2F2;
$dark: #313131;
$gray: #242E33;
$light-gray: #D4D7D9;
$primary-light: #EE3F40;

// Theme fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: Playfair Display, 'Georgia', 'Times New Roman', serif;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
// Import Bootstrap layout definitions.
@import 'bootstrap/scss/bootstrap-grid';
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
