// Theme variables.

//color
$primary: #B70005;
$inverse: #FFF;
$secondary: #E89D00;
$footer-background: #0d2b52;
$footer-contrast: rgba(255,255,255,0.7);
$dark: #313131;
$gray: #E6E6E6;

// Theme fonts
$font-family-sans-serif: Open Sans;
$font-family-serif: Playfair Display, 'Georgia', 'Times New Roman', serif;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
// Import Bootstrap layout definitions.
@import 'bootstrap/scss/bootstrap-grid';
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
