// Index page styles.

// Reset and configure platform styles.
.course-caption {
  .btn-default {
    border-color: $inverse;
    color: $inverse;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
      border-color: $primary-black;
      color: $primary-black;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
      border-color: $primary-black;
      color: $primary-black;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
      border-color: $pearson-grey-courseware;
      color: $pearson-grey-courseware;
    }
  }
}

.content-wrapper {
  max-width: initial;

  &.main-container {
    margin-top: 0;
  }
}

.content-wrapper .home-courses,
.home-courses .container,
.home-courses .container .grid,
.home-courses .container .grid .item {
  padding: 0;
  margin: 0 auto;
}

.container {
  .wrapper {
    .default {
      .btn {
        &.btn-primary, &.btn-brand {
          color: $alternative-secondary;
          background-color: transparent;
          border-color: $alternative-secondary;
        }

        &.btn-primary:hover:not(:disabled), &.btn-brand:hover:not(:disabled) {
          color: $primary;
          background-color: $alternative-secondary;
          border-color: $alternative-secondary;
        }

        &.btn-primary:active:not(:disabled), &.btn-brand:active:not(:disabled), &.btn-primary:focus:not(:disabled), &.btn-brand:focus:not(:disabled) {
          color: $primary;
          background-color: $alternative-secondary;
          border-color: $alternative-secondary;
          box-shadow: 0 0 0 0.2rem rgba($alternative-secondary, 0.5);
        }
      }
    }
  }
}
