/* lms-main-v1.css | http://lbs.localhost:18000/static/pearson-lbs-theme/css/lms-main-v1.css */

.login-register .section-title,
.financial-assistance-wrapper .financial-assistance-form .section-title {
  text-align: center;
  font-size: 42px;
  color: #fff;
}

.login-register-content {
  /* background: #fff; */
  background: #848484;
  min-height: calc(100vh - 80px);
  margin: 0;
}

.login-register,
.financial-assistance-wrapper .financial-assistance-form {
  /* background: #fff; */
  background: #828282;
}

a:not(.btn),
a:visited:not(.btn) {
  color: white;
}

.login-register .form-type,
.financial-assistance-wrapper .financial-assistance-form .form-type,
.login-register .toggle-form,
.financial-assistance-wrapper .financial-assistance-form .toggle-form {
  color: white;
}

.login-register .form-field label,
.financial-assistance-wrapper .financial-assistance-form .form-field label {
  /* color: #000; */
  color: #fff;
  font-weight: normal;
}

.login-register .form-field .tip,
.financial-assistance-wrapper .financial-assistance-form .form-field .tip {
  color: white;
}

.login-register .form-field input,
.financial-assistance-wrapper .financial-assistance-form .form-field input,
.login-register .form-field select,
.financial-assistance-wrapper .financial-assistance-form .form-field select,
.login-register .form-field textarea,
.financial-assistance-wrapper .financial-assistance-form .form-field textarea {
  border: none;
  border: 1px solid white;
  background-color: transparent;
}

.login-register .form-field .field-link,
.financial-assistance-wrapper
  .financial-assistance-form
  .form-field
  .field-link {
  color: white;
}

.btn-blue:hover,
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .paragon__btn:hover:not(.cancel-btn),
.account-settings-message
  .alert-message
  .alert-actions
  .btn-alert-primary:hover,
.login-register .action-primary:hover,
.financial-assistance-wrapper .financial-assistance-form .action-primary:hover,
.verification-process .action-primary-blue:hover,
.verification-process .carousel .wrapper-task .controls .control .action:hover,
.verification-process
  .carousel
  .wrapper-task
  .controls
  .control
  .entitlement-actions-wrapper
  .entitlement-action:hover,
.entitlement-actions-wrapper
  .verification-process
  .carousel
  .wrapper-task
  .controls
  .control
  .entitlement-action:hover,
.verification-process
  .carousel
  .wrapper-task
  .msg
  .list-actions
  .action-retakephotos
  a:hover,
.verification-process
  .carousel
  #wrapper-review
  .review-task-name
  .list-actions
  .action-editname
  a:hover,
.verification-process.step-select-track
  .register-choice-audit
  .action-select
  input:hover,
.verification-process.step-confirmation
  .course-info
  .options
  .action-course:hover,
.verification-process.step-confirmation
  .course-info
  .course-actions
  .action-dashboard:hover,
.reverify-blocked .action-primary:hover,
.wrapper-authorize .btn-authorization-allow:hover,
.wrapper-msg.wrapper-auto-cert
  .auto-cert-message
  .has-actions
  .msg-actions
  .btn:hover,
.view-profile
  .profile-self
  .wrapper-profile-field-account-privacy
  .u-field-account_privacy
  .btn-change-privacy:hover,
.btn-blue:active,
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .paragon__btn:active:not(.cancel-btn),
.account-settings-message
  .alert-message
  .alert-actions
  .btn-alert-primary:active,
.login-register .action-primary:active,
.financial-assistance-wrapper .financial-assistance-form .action-primary:active,
.verification-process .action-primary-blue:active,
.verification-process .carousel .wrapper-task .controls .control .action:active,
.verification-process
  .carousel
  .wrapper-task
  .controls
  .control
  .entitlement-actions-wrapper
  .entitlement-action:active,
.entitlement-actions-wrapper
  .verification-process
  .carousel
  .wrapper-task
  .controls
  .control
  .entitlement-action:active,
.verification-process
  .carousel
  .wrapper-task
  .msg
  .list-actions
  .action-retakephotos
  a:active,
.verification-process
  .carousel
  #wrapper-review
  .review-task-name
  .list-actions
  .action-editname
  a:active,
.verification-process.step-select-track
  .register-choice-audit
  .action-select
  input:active,
.verification-process.step-confirmation
  .course-info
  .options
  .action-course:active,
.verification-process.step-confirmation
  .course-info
  .course-actions
  .action-dashboard:active,
.reverify-blocked .action-primary:active,
.wrapper-authorize .btn-authorization-allow:active,
.wrapper-msg.wrapper-auto-cert
  .auto-cert-message
  .has-actions
  .msg-actions
  .btn:active,
.view-profile
  .profile-self
  .wrapper-profile-field-account-privacy
  .u-field-account_privacy
  .btn-change-privacy:active,
.btn-blue:focus,
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .paragon__btn:focus:not(.cancel-btn),
.account-settings-message
  .alert-message
  .alert-actions
  .btn-alert-primary:focus,
.login-register .action-primary:focus,
.financial-assistance-wrapper .financial-assistance-form .action-primary:focus,
.verification-process .action-primary-blue:focus,
.verification-process .carousel .wrapper-task .controls .control .action:focus,
.verification-process
  .carousel
  .wrapper-task
  .controls
  .control
  .entitlement-actions-wrapper
  .entitlement-action:focus,
.entitlement-actions-wrapper
  .verification-process
  .carousel
  .wrapper-task
  .controls
  .control
  .entitlement-action:focus,
.verification-process
  .carousel
  .wrapper-task
  .msg
  .list-actions
  .action-retakephotos
  a:focus,
.verification-process
  .carousel
  #wrapper-review
  .review-task-name
  .list-actions
  .action-editname
  a:focus,
.verification-process.step-select-track
  .register-choice-audit
  .action-select
  input:focus,
.verification-process.step-confirmation
  .course-info
  .options
  .action-course:focus,
.verification-process.step-confirmation
  .course-info
  .course-actions
  .action-dashboard:focus,
.reverify-blocked .action-primary:focus,
.wrapper-authorize .btn-authorization-allow:focus,
.wrapper-msg.wrapper-auto-cert
  .auto-cert-message
  .has-actions
  .msg-actions
  .btn:focus,
.view-profile
  .profile-self
  .wrapper-profile-field-account-privacy
  .u-field-account_privacy
  .btn-change-privacy:focus {
  background-color: #04048e;
}

.login-register .action-primary,
.financial-assistance-wrapper .financial-assistance-form .action-primary {
  background-color: #20204f;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}

.login-register .form-wrapper form,
.financial-assistance-wrapper .financial-assistance-form .form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-register .form-field,
.financial-assistance-wrapper .financial-assistance-form .form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}



/* Element | http://lbs.localhost:18000/register?next=%2F */

.checkbox-optional_fields_toggle > label:nth-child(2) {
    display: flex;
  }
  
  /* Element | http://lbs.localhost:18000/register?next=%2F */
  
  .checkbox-optional_fields_toggle {
    align-items: center;
    flex-direction: row;
  }
  
  /* Element | http://lbs.localhost:18000/register?next=%2F */
  
  #toggle_optional_fields {
    margin: 0;
  }
  
  /* Element | http://lbs.localhost:18000/register?next=%2F */
  
  .select-year_of_birth {
    margin: 0;
    display: inline-block;
  }
  
  /* Element | http://lbs.localhost:18000/register?next=%2F */
  
  .select-level_of_education {
    display: inline-block;
  }
  
  /* lms-main-v1.css | http://lbs.localhost:18000/static/pearson-lbs-theme/css/lms-main-v1.css */
  
  .login-register .form-field.select-gender, .financial-assistance-wrapper .financial-assistance-form .form-field.select-gender, .login-register .form-field.select-year_of_birth, .financial-assistance-wrapper .financial-assistance-form .form-field.select-year_of_birth {
    width: 100%;
  }
  
  .login-register, .financial-assistance-wrapper .financial-assistance-form {
    /* max-width: 500px; */
    max-width: 545px;
  }

  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta {
    margin: 0;
  }

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:focus {
    background: $lbs-blue !important;
    color: #fff !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: none;
    width: 100%;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 14px;

    &:hover {
        background: #000 !important;
        color: #fff !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a span.register {
    background-color: transparent;
    border: none;
    color: white;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a .register + strong {
    background: $lbs-blue !important;
    color: #fff !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: none;
    width: 100%;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 14px;
    display: block;

    &:hover {
        background: #000 !important;
        color: #fff !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}