// Sample dark theme to demonstrate SASS overrides.
@import 'edx-bootstrap/sass/open-edx/theme';
// Theme colors
//
// Note: define colors needed by your theme first

// Make the theme white on black

//color
$primary: #512EAB;
$secondary: #0D004D;
$inverse: #FFF;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "inverse": $inverse,
  "dark": $secondary,
  "light": #D9D9D9
));

//Vue theme styling
$vue-btn: #512EAB;
$vue-btn-text: #fff;
$vue-header-footer: #0D004D;
$vue-header-footer-text: #fff;
$vue-dark: #0D004D;
$vue-black: #000000;
$light-secondary: #EFEDFF;

//Apprenticeships theme styling
$app-btn: #512EAB;
$app-btn-text: #fff;
$app-header: #fff;
$app-header-text: #512EAB;
$app-header-footer: #0D004D;
$app-header-footer-text: #fff;

//color inline
$dark: $secondary;
$white: $inverse;
$light: #D9D9D9;
$light-gray:#D9D9D9;

// Theme fonts
$font-family-sans-serif: Open Sans;
$serif: Playfair Display;

// Initialize the Open edX Bootstrap theme

//navigation
$button-color-login: #0D004D;
$font-color-login: #FFF;
$button-color-register: #0D004D;
$font-color-register: #FFF;

$black: #000;
$register-background: #e6e6e6;
$register-button-background-color: #007394;
$register-link-color: #4197af;
$register-input-border-color: #707070;
$pearson-grey-font:#ccc;
