// Sample dark theme to demonstrate SASS overrides.
@import 'edx-bootstrap/sass/open-edx/theme';
// Theme colors
//
// Note: define colors needed by your theme first

// Make the theme white on black

//color
$primary: #007FA3;
$inverse: #FFF;
$secondary: #003057;

//Vue theme styling
$vue-btn: #007FA3;
$vue-btn-text: #fff;
$vue-header-footer: #003057;
$vue-header-footer-text: #fff;
$vue-dark: #003057;

//Apprenticeships theme styling
$app-btn: #007FA3;
$app-btn-text: #fff;
$app-header: #fff;
$app-header-text: #007FA3;
$app-header-footer: #005A70;
$app-header-footer-text: #fff;

//color inline
$dark: $secondary;
$white: $inverse;
$light: #D9D9D9;
$light-gray:#D9D9D9;

// Theme fonts
$font-family-sans-serif: Open Sans;
$serif: Playfair Display;

// Initialize the Open edX Bootstrap theme

//navigation
$button-color-login: #003057;
$font-color-login: #FFF;
$button-color-register: #003057;
$font-color-register: #FFF;