// Colors
$white: white;
$black: black;
$header-color: #434242;
$nav-wizard-border-color: rgb(255, 192, 31);
$nav-wizard-box-color: rgba(0, 0, 0, 0.2);
$data-color: rgb(29, 29, 29);
$p-address-color: #6f7074;
$border-color: rgb(235, 235, 235);
$bg-color: rgb(249, 249, 249);

.receipt {
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: $white;
    font-family: $font-family-sans-serif;
    line-height: 1em;

    .content-container {
        padding: 15px 30px 40px;
    }

    .copy {
        > div {
            margin-bottom: 15px;
            line-height: 22px;
        }

        .billing-address {
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }

    .info-item {
        overflow: hidden;
    }

    .payment-info {
        margin-bottom: spacing-vertical(small);
    }

    .nav-link, a {
        color: $brand-primary;
        border-bottom: none;
        text-decoration: none !important;

        &:active, &:hover, &:focus {
            border-bottom: 1px dotted $brand-primary;
        }
    }

    .nav-wizard {
        padding: 15px 20px;
        margin: 0;
        overflow: hidden;
        border-top: 4px solid $nav-wizard-border-color;
        box-shadow: 0 1px 1px 2px $nav-wizard-box-color;

        .header {
            margin: 0;
            padding: 10px 0;
            color: $header-color;
            font-size: 18px;
            font-weight: bold;
        }

        .message {
            color: $header-color;
            font-weight: 500;
            line-height: 1.4em;
        }

        #verify_now {
            margin-bottom: 10px;
        }

        #verify_choices {
            margin-bottom: 10px;
            padding-top: 10px;
            text-align: center;
        }

        #verify_now_button {
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 13px 35px;
            text-align: center;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .confirm-message {
        font-size: 18px;
    }

    h2 {
        margin-bottom: 10px;
        color: $brand-primary;
    }

    p {
        margin: 0;
    }

    .thank-you {
        font-size: 38px;
    }

    #cta-nav-links {
        margin: 40px 0;

        .nav-link {
            font-size: 16px;
        }

        .dashboard-link {
            margin-right: 40px;
        }
    }

    .dashboard-link {
        line-height: 20px;
        font-size: 13px;
    }

    .order-summary {
        dt {
            font-weight: 500;
        }

        dd {
            margin-bottom: 20px;
            color: $data-color;
            font-size: 18px;
        }
    }

    .order-headers {
        color: $brand-primary;
        font-size: 22px;
    }

    .order-line-data {
        color: $data-color;
        font-size: 20px;

        > td {
            padding-bottom: 1.5em;
            padding-top: 1.25em;
            line-height: 1.5em !important;
        }
    }

    p, address {
        color: $p-address-color;
    }

    .table {
        dl {
            margin: 0;
        }

        .header, .order-line-data {
            dt, dd {
                padding: 10px 10px 5px 10px;

                &:not(:last-child) {
                    float: left;
                    border-right: 2px solid $border-color;
                }

                &:last-child {
                    display: inline-block;
                    width: 15%;
                }
            }

            dt:last-child {
                text-align: center;
            }

            dd {
                height: 100px;
            }
        }

        .header {
            background-color: $bg-color;

            dt {
                border-bottom: 2px solid $border-color;
                font-size: 16px;

                &:first-child {
                    width: 10%;
                }

                &:nth-child(2) {
                    width: 75%;
                }
            }
        }

        .order-line-data {
            &:not(:last-child) {
                border-bottom: 2px solid $border-color;
            }

            &:last-child {
                border-bottom: 4px solid $brand-primary;
            }

            dd {
                font-size: 16px;

                &:nth-child(2) {
                    width: 10%;
                }

                &:nth-child(4) {
                    width: 75%;
                }

                &.line-price {
                    padding-right: 5%;
                }
            }
        }
    }
}

/* Small devices (tablets, 992px and lower) */
@media (max-width: $screen-sm-max) {
    .receipt {
        .sr {
            position: static;
            width: auto;
            height: auto;
            font-size: 16px;
        }

        .thank-you {
            text-align: center;
        }

        .order-summary {
            border-top: 2px solid $border-color;
            border-bottom: 2px solid $border-color;
            padding: 10px 0;
            background-color: $bg-color;

            dt, dd {
                padding-left: 10px;
                font-size: 16px;
            }

            dt {
                float: left;
                color: $black;
                font-weight: bold;
            }

            dd {
                display: flex;
            }
        }

        .table {
            border-top: 4px solid $border-color;

            .header {
                display: none;

                dt {
                    border-bottom: none;
                }
            }

            .order-line-data {
                padding-top: 10px;

                &:not(:last-child) {
                    border-bottom: none;
                }

                &:last-child {
                    border-bottom: 2px solid;
                }

                dt, dd {
                    &:not(:last-child) {
                        float: none;

                        border-right: none;
                    }
                }

                dd {
                    display: inline-block;
                    height: auto;

                    &:nth-child(2), &:nth-child(4) {
                        width: auto;
                    }

                    &.course-description {
                        padding: 0 10px;
                    }

                    &.line-price {
                        font-weight: normal;
                    }
                }

                dt {
                    display: inline;
                    float: left;
                }

                .course-description {
                    display: block;
                    width: auto;
                }
            }
        }
    }
}
