## mako
<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper-footer">
  <footer class="container">
    <div class="row">
      <div class="col-md-4 col-12 footer-branding">
        <div class="wrapper-logo">
          <p>
            <a href="/">
              ## The default logo is a placeholder.
              ## You can either replace this link entirely or update
              ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
              ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
              ## can be included in the footer on other sites
              ## (e.g. a blog or marketing front-end) to provide a consistent
              ## user experience.  See the branding app for details.
              <img alt="${_('organization logo')}" src="${footer['logo_image']}">
            </a>
          </p>
        </div>
        <ul class="social-links">
          <li>
            <a href="https://twitter.com/RegisCollege_MA/" target="_blank" aria-label="Twitter">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/regis_ma/" target="_blank" aria-label="Instagram">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12 mid-footer-container">
        <p><a href="https://online.regiscollege.edu/accreditation/">Accreditation</a></p>
        <p><a href="https://online.regiscollege.edu/rankings/">Rankings</a></p>
        <p><a href="https://online.regiscollege.edu/privacy-policy/">Privacy Policy</a></p>
        <p><a href="https://online.regiscollege.edu/do-not-sell-my-personal-information/">Do Not Sell My Personal Information</a></p>
      </div>
      <div class="col-md-4 col-12 mid-footer-container">
        <p><a href="https://online.regiscollege.edu/blog">Blog</a></p>
        <p><a href="https://online.regiscollege.edu/complaint-process/">Complaint Process</a></p>
        <p><a href="https://online.regiscollege.edu/partners-pop-up/">Corporate Tuition Discount</a></p>
        <p><a href="https://www.regiscollege.edu/academics/professional-licensure-disclosures">Licensure Disclosure</a></p>
      </div>
      <div class="col-12 legal-nav">
        <p class="contact">235 Wellesley Street, Weston MA 02493 | 781.768.7000 | ©&nbsp;${datetime.today().year}&nbsp;</p>
      </div>
    </div>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
