// Styles for the footer template.

$line-color: rgba(255,255,255,0.2);

.wrapper-footer {
  border-top: none;
  background: $footer-background;
  color: $inverse;

  footer {
    // Reset Bootstrap "container" style.
    max-width: 960px !important;
    padding: 40px 0 0 0;

    // There is a generic style similar applying div and box shadow on the wiki page of course.
    // so disabling that design for footer in the lines below.
    & > div {
      display: flex;
      background: inherit;
      border: none;
      box-shadow: none;
    }

    .row {
      margin-right: initial;
      margin-left: initial;
    }

    .wrapper-logo {
      img {
        width: 10em;
      }

      h4 {
        font-family: $serif;
        font-size: 1.5em;
        color: $inverse;
        margin-top: 12px;
      }
    }

    .social-links {
      list-style: none;
      padding: 0;

      li {
        display: inline;
        margin: 0 14px 0 0;

        a {
          color: $footer-contrast;
        }
      }
    }

    .mid-footer-container {
      padding-left: 80px;

      h4 {
        font-family: $serif;
        color: $inverse;
        margin-bottom: 18px;
      }

      p {
        margin-bottom: 30px;
        font-size: 0.9em;

        a {
          color: $footer-contrast;
        }
      }
    }
  }

  .legal-nav {
    border-top: solid 1px $line-color;
    padding: 0 14px 0 0;
    margin-top: 50px;

    ul {
      list-style: none;
      padding: 0;
      margin-top: 40px;

      li {
        display: inline-block;
        margin: 0 50px 0 0;
        font-size: 0.9em;

        a {
          color: $footer-contrast;
        }
      }
    }

    .copyright {
      margin-top: 60px;
      color: $footer-contrast;

      a {
        color: $footer-contrast;
      }
    }
  }

  .notice {
    color: $inverse;
    font-family: $font-family-sans-serif;
    line-height: 2em;
    font-size: 0.9em;
    font-weight: bold;
  }

  .footer-about-openedx {
    text-align: center;

    p {
      text-align: inherit;
    }
  }

  .footer-miscellaneous-buttons {
    position: relative;
    width: auto;
    float: right;
    top: -300px;
    right: 20px;
    background: initial;

    .back-to-top-btn {
      background: $primary;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      top: 115px;
      position: absolute;
      right: 0;
      color: $inverse;
      top: 115px;
      font-size: 0.7em;

      i {
        position: relative;
        top: -3px;
      }

      span {
        position: absolute;
        top: 20px;
        left: 14px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .wrapper-footer {
    footer {
      max-width: 100%;

      .col-md-4, .col-12 {
        padding-left: 0;
      }
    }
  }
}
