// Basket styles ecommerce/ecommerce/static/sass/partials/views/_basket.scss.

.basket {
  font-family: $font-family-primary;

  .container {
    padding: 45px 55px 30px;
    margin: 0;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    h3 {
      margin-bottom: 30px;
      color: black;
    }

    .basket-items {
      border: 1px solid $gray;
      padding: 20px;
      margin-bottom: 45px;
      font-family: $font-family-primary;

      .row {
        margin: 0;

        .product-image {
          margin-bottom: 20px;
        }

        .product-title {
          font-family: $font-family-primary;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: black;
        }

        .product-prices {
          width: fit-content;
          padding: 0;
          
          .discount {
            margin: 0;
            display: block;

            .benefit {
              display: block;
            }

            & > div {
              margin: 0;
              font-weight: 500;
              font-size: 18px;
              line-height: 28px;
            }
          }

          .price,
          .price.discounted {
            color: black;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }

    .payment-buttons {
      .payment-button {
        @include primary-button-mixin;
      }
    }

    .basket-switch-link {
      a {
        color: $contrast-color;
        font-weight: 500;
      }
    }

    .total,
    #summary {
      margin-right: 20px;

      .use-voucher {
        padding: 0;

        .code {
          float: right;
        }

        #voucher_form_link {
          @include float(right);

          a {
            color: $contrast-color;
            border: none;
            font-weight: 500;
            font-size: 16px;
            font-family: $font-family-primary;
          }
        }

        #voucher-form-container {
          @include float(right);
        }

        #apply-voucher-button {
          @include primary-button-mixin;

          padding: 5px 10px;
        }
      }

      #basket_totals {
        color: inherit;
        text-align: initial;
        border-top: 1px solid $gray;
        margin-top: 15px;
        padding: 15px 0 45px;

        span {
          float: right;
        }
      }
    }

    #content-inner > .row {
      margin: 0 20px;

      .col-sm-12 {
        padding: 0;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .basket {
    font-family: $font-family-primary;
  
    .container {
      padding: 45px 15px 30px;

      .basket-items {
        .row {
          & > .col-sm-12 {
            padding: 0;
          }

          .product-prices {
            float: left !important;
            margin-top: 0;

            .discount {
              text-align: left;
            }

            .price {
              padding: 0;
              float: left;
            }
          }
        }
      }

      .total {
        margin-right: 0;
      }
    }

    #content-inner > .row {
      margin: 0 !important;
    }
  }
}
