// Receipt styles ecommerce/ecommerce/static/sass/partials/views/_receipt.scss.

.receipt {
  padding: 45px clamp(15px, 3.5vw, 55px) 134px;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  font-family: $font-family-primary;

  .payment-info {
    display: flex;
    gap: 50px;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }

    .copy {
      max-width: 760px;
      padding: 0;

      h2.thank-you {
        color: initial;
        font-weight: 300;
        font-size: 40px;
        line-height: 48px;
        font-family: $font-family-primary;
        margin-bottom: 30px;
      }
  
      .confirm-message {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: initial;
        font-family: $font-family-primary;
      }
    }

    .order-headers {
      color: initial;
      margin: 0;
      padding: 0;
      font-family: $font-family-primary;
  
      dl {
        text-align: right;
        padding: 0;

        dt {
          font-weight: 400;
          padding: 0;
          margin-bottom: 10px;
          font-size: 21px;
          line-height: 28px;
          font-family: $font-family-primary;
        }

        dd {
          color: $primary-color;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          margin-top: 10px;
          font-family: $font-family-primary;
        }
      }
    }
  }

  .list-info > h2 {
    font-weight: 400;
    font-size: 1.3125em;
    margin-bottom: 30px;
    margin-top: 20px;
    color: black;
  }

  .table {
    dl {
      border: 1px solid $gray;
      margin-bottom: 45px;
    }

    .header,
    .order-line-data {
      display: flex;
      padding: 15px 30px 15px 20px;

      dt,
      dd {
        padding: 0;
        border: none !important;
        font-family: $font-family-primary;
        color: black;
      }

      dt:nth-child(1),
      dd:nth-child(2) {
        flex-basis: 16%;
      }

      dt:nth-child(2),
      dd:nth-child(4) {
        flex-basis: 76%;
      }

      dt:nth-child(3),
      dd:nth-child(6) {
        flex-basis: 8%;
        text-align: right;
      }

      dd.line-price.price {
        padding: 0;
      }

      .course-description,
      .quantity {
        font-weight: 400;
        font-size: 1rem;
      }
    }

    .order-line-data {
      border: none !important;
    }

    .header {
      background-color: $body-bg;
      border-bottom: 1px solid $gray;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }

    .order-total {
      margin-right: 30px;
      margin-left: 60%;

      .price {
        margin-right: 0;
      }

      .description {
        color: black;

        .label {
          display: block;
          width: fit-content;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
    }
  }

  #cta-nav-links {
    margin-right: 30px;

    .text-right {
      padding: 0;
    }

    .nav-link-button {
      @include primary-button-mixin;
    }
  }

  .nav-link,
  a {
    color: $primary-color;
  }

  .thank-you {
    font-size: 2.5em;
    font-weight: 300;
  }

  .confirm-message {
    margin-top: 30px;
    font-size: 1em;
  }

  .order-summary {
    dt {
      font-size: 0.8em;
    }

    dd {
      font-size: 0.7em;
      font-weight: 600;
    }
  }
}

/* Small devices (tablets, 992px and lower) */
@media (max-width: $screen-sm-max) {
  .receipt {

    .payment-info {
      flex-direction: column;
      gap: 20px;

      .thank-you {
        font-size: 1.8em;
        text-align: left;
      }
    }

    .order-summary {
      border-top: none;
      border-bottom: none;
      background-color: initial;

      dl {
        margin-bottom: 20px;
      }

      dt {
        width: 100%;
        text-align: left;
      }

      dd {
        color: $contrast-color !important;
        font-weight: 400;
        display: block;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }

    .table {
      border: none;

      .header {
        display: none;
      }

      dl.order-lines {
        border: 1px solid $gray;
        padding: 15px 10px;
        display: flex;
        gap: 30px;
        flex-direction: column;
      }

      .order-line-data {
        padding: 0;
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 10%;
        row-gap: 15px;

        dt {
          font-weight: 500 !important;
        }

        dt,
        dd {
          padding: 0;
        }

        dd.course-description {
          padding: 0;
        }

        dd.line-price {
          font-weight: 500;
          text-align: left;
        }
      }

      .order-total {
        padding: 20px 0;
        margin: 0;
      }
    }
  }

  /*
    This changes the position of the buttons.
  */
  #cta-nav-links {
    margin-right: 0 !important;

    .nav-link-button {
      position: relative;
      top: 0 !important;
    }

    .find-more-courses-button {
      position: relative;
      top: 60px;
      right: -210px;
      margin-right: 0 !important;
    }
  }
}

/*
  This changes the position of the buttons.
*/
@media (max-width: 489.98px) {
  #cta-nav-links {
    .nav-link-button {
      position: relative;
      top: -80px;
    }

    .find-more-courses-button {
      position: relative;
      top: 50px;
      right: 0;
    }
  }
}
