// Dashboard styles.

.view-dashboard {

  .side-container {
    display: none
  }
  
  @media (min-width: 768px) {
    .main-container {
      margin: 0 auto;
      padding: 40px 0;
      max-width: 1180px;
      min-width: 760px;
      width: 100%;
    }
  }
  .wrapper-header-courses {
    margin-bottom: 30px !important;

    .header-courses {
      color: $dark;
      font-size: 2em !important;
      font-family: $font-family-sans-serif !important;
      text-align: center;
      padding-right: 0 !important;
    }
  }

  .enter-course {
    color: $inverse !important;
    background: $primary !important;
    border: 0 !important;
  }
}
