// Footer styles.

.wrapper-footer {
  footer#footer-openedx {
    .copyright {
      color: $primary;
    }

    .wrapper-logo {
      margin: 15px;
      float: right;

      img {
        width: 120px;
        padding-top: 0;
      }
    }
  }
}
