// Basket styles ecommerce/ecommerce/static/sass/partials/views/_basket.scss.

.basket {
  .container {
    .basket-items {
      border: 1px solid $gray;
      padding: 20px;
    }

    .payment-buttons {
      .payment-button {
        border-color: $contrast-color;
        padding: 1em 3em;
        background: $contrast-color;
        border-radius: 2em;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        font-size: 0.8em;

        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
          border-color: $contrast-color;
          background: $contrast-color;
        }
      }
    }

    .total, #summary {
      .use-voucher {
        #voucher_form_link {
          @include float(right);
        }
      }

      #basket_totals {
        color: inherit;
        text-align: initial;
        border-top: 1px solid $gray;
        margin-top: 10px;
        padding: 10px 0;

        span {
          float: right;
        }
      }
    }
  }
}
